body.modal-open .main-content .container{
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    pointer-events:none;
}

#datepicker{
    border-radius: .375rem;
    background-color: #fff;
    background-clip: padding-box;

    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}

.datepicker.datepicker-inline{
    width: 105% !important;
    padding-left: 45px;

}

.button-css-none{
    background: none;
    border: none;
    color: #5e72e4;
}

.timestamp .mt-2:first-of-type{
    margin-top: 0!important;
}

.terms-condition-content h2, .privacy-policy-content h2{
    font-size: 14px;
}

.terms-condition-content p, .privacy-policy-content p{
    text-align: justify;
    text-justify: inter-word;
}

.modal{
    /*display: block !important; !* I added this to see the modal, you don't need this *!*/
}

/* Important part */
#privacyPolicyModal .modal-dialog, #termConditionModal .modal-dialog{
    overflow-y: initial !important
}
#privacyPolicyModal .modal-body, #termConditionModal .modal-body{
    height: 500px;
    overflow-y: auto;
}