/* ************************************************
Template Name: Medico
Authors: WPBox & Weblusive
Version: 1.0
************************************************ */

/* --------------------------------------------------
  Table of Contents
-----------------------------------------------------
:: Header
:: - Top Bar
:: - Logo
:: - Tagline
:: - DropDown Menu - Superfish
:: Page Title
:: Blog page
:: - Global styles
:: - Pagination
:: - Single post
:: - Comments
:: - Search form
:: Widgets
:: - Categories
:: - Tags
:: - Flickr
:: - Tab
:: - Post listing
:: Footer
:: - Global styles
:: - Back to top
:: Contact page
:: Portfolio page
:: - Filtering
:: - Item content
:: - Items listing
:: Main Elements
:: - Featured Blocks
:: - Featured titles
:: - Social icons
:: - Appointment block
:: - Tab and accordion
:: - Services block
:: - Promo block
:: - Testimonials
:: - Logo slider
:: Helper classes
:: Miscellaneous classes
:: Mobile overrides
*/

/* ------------------------------------------------------
  Header
------------------------------------------------------ */

/* --- Top Bar -- */


#appointment-sign-up-form input[type="text"], #appointment-sign-up-form textarea {
    box-shadow: #dadada 1px 3px 3px;
    border-radius: 4px;
    padding: 0.4em 1em;
    margin-bottom: 1.4em;
    height: 52px;
}
.contact_form-sign-up input[type="text"], .contact_form-sign-up textarea {
    height: 59px;
    background: #fdfdfd;
    border: 1px solid #d9d9d9;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #333;
    box-shadow: #dadada 1px 3px 3px;
    border-radius: 4px;
    padding: 0.4em 1em;
    margin-bottom: 1.4em;
}
.top-header {
    background: #25c9da
}

.color-theme{
   color: #25c9da;
}

.top-header ul li {
    border-right: 1px solid #d9ac21;
    height: 27px;
}

.top-header ul li:first-child {
    border-left: 1px solid #d9ac21
}

.success-message{
    font-weight: bold;
    background-color: green;
    padding: 10px;
    color: white !important;
    border-radius: 4px;
}

.top-header ul li a {
    margin-left: 10px
}

.top-header ul li > a, .top-header span {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: #fff;
    margin-right: 10px;
    line-height: 27px;
    display: inline-block
}

.top-header a:hover {
}

.top-header .login {
    background: #25c9da;
    margin-bottom: 0;
    font-size: 11px !important
}

/* --- Logo -- */
#logo {
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    color: #222;
    margin-top: 15px;
    display: block
}

/* --- Tagline -- */
.tagline {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: rgb(125, 125, 125);
    margin-bottom: 0;
    color: #7f7f7f;
}

/* ------------------------------------------------------
  Page Title
------------------------------------------------------ */
.page_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: rgb(89, 89, 89);
    margin-left: 25px;
}

.banner > .button {
    background: #25c9da;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #fff;
}

.banner {
    background-image: url('../images/bg/page-title.png');
    height: 85px;
    padding-top: 25px;
    width: 100%;
}

/* ------------------------------------------------------
  Blog Page
------------------------------------------------------ */

/*--- Global styles ---*/
.content_wrapper {
    margin-top: 25px;
}

.post_img {
    margin-bottom: 10px;
    position: relative;
}

.mod_con_img {
    position: relative
}

.post_text {
    margin-top: 0px;
}

.button:hover {
    background: #25c9da
}

.post {
    padding-bottom: 45px;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 15px;
}

.post h3, .post h2 {
    color: #00000c;
    font-size: 22px;
}

.meta {
    list-style: none;
    margin-bottom: 1px
}

.meta li {
    display: inline-block;
    padding: 0px 10px;
    line-height: 37px;
    font-size: 11px
}

.meta li:first-child {
    padding-left: 0
}

.meta li i {
    padding-right: 6px !Important;
    color: #bbb
}

.post.col1-alternative h2 {
    margin: 0 0 0.4em 0
}

.post.col1-alternative {
    padding-bottom: 0px;
    margin-bottom: 20px
}

.post.col1-alternative .meta {
    margin-bottom: 2px
}

.post.col-2 {
    padding-bottom: 10px;
    margin-bottom: 25px
}

.post.col-2 .post_img {
    margin-bottom: 0
}

.post.col-2 h2 {
    margin: 10px 0 0 0
}

.post.col-2 .post_text {
    margin-top: 10px
}

.column1-layout .post_image, .column1-layout .flex-video {
    margin-top: 14px
}

.post.column1-layout {
    padding-bottom: 10px;
    margin-bottom: 20px
}

/*--- Pagination ---*/
.pagination-wrapper {
    margin-bottom: 40px
}

.pagination li.current a {
    background: #25c9da;
    border-radius: 3px
}

.pagination li > a {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #000;
    padding: 6px 12px;
    background: #f3f3f3
}

.pagination li.current a:hover, .pagination li a:hover {
    background: #25c9da
}

/*--- Single post ---*/
.comment_count {
    margin-bottom: 10px;
    margin-top: 30px;
    font-weight: bold;
}

.post.single-post {
    padding-bottom: 10px
}

/*--- Comments ---*/
.color {
    color: #25c9da;
}

.comment_list {
    list-style: none;
    overflow: hidden;
    margin: 0;
}

.com_item:first-child {
    margin-top: 0;
    padding-top: 0;
}

.com_item {
    padding-top: 25px;
    float: left;
    width: 100%;
}

.com_main {
    border-bottom: 1px solid;
    border-bottom-color: rgb(240, 240, 240);
    padding-bottom: 0;
    margin: 0;
    height: 110px;
}

.avatar {
    width: 80px;
    height: 80px;
    border: 5px solid;
    border-color: #25c9da;
    border-radius: 5px;
    position: relative;
    float: left;
    margin-right: 15px;
}

.avatar img {
    width: 70px;
    height: 70px;
}

.com_content {
    float: left;
}

.user_name > a {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(60, 60, 60)
}

.com_date {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: rgb(184, 184, 184)
}

p.com_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgb(134, 134, 134)
}

.com_reply {
    width: 100%;
    float: left;
    margin-top: -5px;
}

.com_reply a.button {
    background: rgb(134, 134, 134);
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color: #fff;
    border-radius: 5px;
}

.com_item .com_child {
    list-style: none;
    float: left;
    position: relative;
    margin: 0;
    padding: 25px 0 0 75px;
    width: 100%;
}

.com_item .com_child .com_item {
    position: relative;
}

/*--- Search Form ---*/
#search-global-form {
    position: relative
}

#search-global-form input[type="text"] {
    border: solid 1px #e8e8e8;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #111;
    padding: 22px 40px 22px 10px;
    font-size: 13px
}

#search-global-form button {
    position: absolute;
    width: 45px;
    height: 45px;
    background: transparent;
    right: 0px;
    top: 0px;
    text-align: center;
    border: none
}

#search-global-form button i {
    color: #ddd;
    font-size: 24px;
    display: block;
    width: 24px;
    height: 24px;
    margin-left: -6px
}

/* ------------------------------------------------------
  Widgets
------------------------------------------------------ */

/* --- Global styles --- */
.widgets {
    margin-bottom: 15px;
}

.widgets > h3 {
    font-size: 17px;
    color: #74777b;
    height: 50px;
    line-height: 50px;
    margin: 0;
    text-transform: uppercase;
}

.wid_content {
    padding: 20px;
}

.widgets a.user, .widgets p.wid_date {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #25c9da;
}

/* --- Category --- */
.widgets ul.categories {
    list-style: none;
    margin-bottom: 0
}

.widgets ul.categories li {
    background: url('../images/list1.png') no-repeat left;
    padding-left: 20px;
    line-height: 26px;
    color: #000
}

.widgets ul.categories a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #000;
}

.widgets ul.categories a:hover {
    color: #9d9d9d
}

.widgets ul.categories span {
    font-family: 'Open Sans', sans-serif;
    color: #9d9d9d;
    margin-left: 4px
}

.widgets.side-widgets {
    border: none
}

.side-nav li, .section-container section .title a, .section-container .section .title a, .section-container.auto section .title a, .section-container.auto .section .title a {
    font-size: 1em
}

/* --- Tags --- */
#tags {
    list-style: none;
    margin-bottom: 70px;
}

#tags li {
    float: left;
    border-radius: 3px;
}

#tags li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
    margin: 3px;
    padding: 8px 10px;
    border-radius: 3px;
    background: #25c9da
}

#tags li:hover {
    font-weight: bold
}

/* --- Flickr --- */
.thumbs {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.thumbs li {
    list-style: none;
    float: left;
}

.thumbs li a {
}

.thumbs li img {
    display: block;
}

.thumbs li a img {
    border: none;
    width: 66px;
    height: 66px;
    margin: 6px;
}

.footer_part_content ul:nth-child(1) li:before {
    content:"\2714\0020";
    color: #54cc06;
    font-size: 17px;
    font-weight: bold;
}
.bg-green-footer{
    background-color: #3daf00;
}
.blue-title{
    /*color: #3c68b9 !important;*/
}

.thumbs li a img:hover {
    border: #25c9da 6px inset;
}

/* --- Tab --- */
.widgets .tabs section .title a {
    padding: 1em
}

.widgets .tabs section .title i {
    color: #fff;
    padding-right: 0;
    font-size: 20px
}

.widgets .tabs section.active .title i {
    color: #000
}

.widgets .tabs section .content {
    margin-top: -2px;
    border-color: #e8e8e8 !Important
}

.widgets .tabs section .title {
    border-color: #e8e8e8 !Important
}

.widgets .tabs section .title {
    background: #25c9da;
}

/* --- Post listing --- */
.widget-post-list {
    list-style: none
}

.widget-post-list li {
    margin-bottom: 10px
}

.widget-post-list img {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    margin-top: 4px
}

.widgets .section a, .widgets .section.active a {
    color: #8f8f8f !Important;
    font-size: 12px;
    line-height: 1em
}

.widgets .section li {
    font-size: 12px
}

.widget-post-list li > a {
    float: left;
    width: 45px;
    margin-right: 10px
}

.latest-posts {
    list-style: none
}

.latest-posts li {
    color: #4a4c4c;
    margin-bottom: 16px
}

/* ------------------------------------------------------
  Footer
------------------------------------------------------ */
.footer_wrapper {
    background: #f8f8f8;
    padding-top: 20px;
    margin: 10px 0 0 0;
    border-top: solid 1px #e9e9e9;
}

.boxed .footer_wrapper {
    margin: 10px 14px 0 14px;
}

h4.footer-title {
    font-size: 18px;
    color: #25c9da;
    background: #f8f8f8
}

.footer_part_content {
    font-size: 13px;
    color: #c0c0c0;
    margin-top: 10px;
}

.footer_part_content input[type="text"], .footer_part_content textarea {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: solid 1px #d7d7d7;
    color: #787878;
    padding-left: 10px
}

.footer_part_content input[type="text"] {
    height: 32px
}

.footer_part_content textarea {
    height: 80px;
    margin-bottom: 12px
}

.footer_part_content input[type="text"]:hover, .footer_part_content textarea:hover {
}

.footer_part_content a.postfix {
    background: #25c9da;
    font-size: 11px;
    color: #fff;
    border: 1px solid;
    border-color: rgb(36, 36, 36);
}

.footer_bottom .right {
    float: right !important;
    text-align: right
}

#footer-contact-form div.large-6.columns:nth-child(2) {
    padding-right: 1.2em;
    padding-left: 0.8em
}

#footer-contact-form div.large-6.columns {
    padding-right: 0em
}

.footer_part_content span.foot_about {
    font-size: 13px;
    color: rgb(115, 115, 115);
}

.footer_part_content a.foot_about {
    font-size: 13px;
    color: #fff;
    text-decoration: #fff;
}

.footer_part_content img {
    margin-bottom: 5px;
}

.footer_part_content a.button {
    margin-top: 15px;
}

.footer_wrapper .footer_bottom p {
    font-size: 12px;
    color: #FFF;
    margin-bottom: 0
}

.footer_bottom {
    background: #25c9da;
    padding: 20px;
    color: #fff
}

.divline {
    margin-bottom: 10px;
    margin-top: 10px
}

.divline span {
    display: block;
    width: 50px;
    height: 3px;
    background: #25c9da;
    margin-top: -5px
}

h4.footer-title {
    border-bottom: dashed 1px #e6e6e6;
    padding-bottom: 6px;
    margin-bottom: 20px;
    text-transform: uppercase
}

.footer_wrapper, .footer_wrapper p {
    color: #4a4c4c
}

.botlogo {
    margin-bottom: 20px
}

/*--- Back to top button ---*/
#back-to-top {
    width: 46px;
    height: 46px;
    line-height: 46px;
    position: relative;
    background: #000;
    border-radius: 50%;
    text-align: center;
    float: right
}

#back-to-top a {
    display: block;
    height: 44px;
    width: 46px;
    background: url('http://pa/argon/img/brand/icon_top.png') no-repeat center;
}

#back-to-top a:hover {
    opacity: 0.80;
    -moz-opacity: 0.80;
    filter: alpha(opacity=80);
}

.copyright p {
    line-height: 46px
}

/* ------------------------------------------------------
  Contact page
------------------------------------------------------ */
.contact_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: #3f3f3f;
    margin-top: 20px;
}

.contact_text {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: rgb(141, 141, 141);
}

.contact_form {
    margin-top: 20px;
}

.contact_form input[type="text"], .contact_form textarea {
    height: 59px;
    background: #fdfdfd;
    border: 1px solid #d9d9d9;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #333;
}

.contact_form textArea {
    height: 135px;
}

.contact_form div.small-4.columns, .contact_form div.large-4.columns {
    padding-left: 0;
    margin-top: 10px
}

.contact_form div.small-4.columns:first-child, .contact_form div.large-4.columns:first-child {
    padding-left: 1.250em
}

.contact_form input.button {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #fff;
    padding: 1em 1em;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase
}

.contact_info {
    margin-top: 15px;
    font-family: Arial;
    font-size: 13px;
    color: rgb(27, 27, 27);
}

.success {
    color: green;
    font-weight: bold
}

.error {
    color: red;
    font-weight: bold
}

.contact_info a {
    color: rgb(27, 27, 27);
    text-decoration: underline;
}

.contact_info img {
    margin-bottom: 5px;
}

.blue {
    background-color: #258bda !important
}

.grey {
    background: #ebebeb
}

#map_canvas {
    width: 100%;
    height: 450px;
}

.contact_info .about-info li:hover a, .contact_info .about-info li:hover span {
    color: #000
}

.contact_info .about-info li span, .contact_info .about-info li a {;
    color: #707070
}

.main-content-top {
    background: #fbfbfb;
    padding-top: 10px;
    border-bottom: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    margin-bottom: 20px;
}

.main-content-top h2 {
    text-transform: uppercase;
    color: #595959;
    font-size: 22px;
}

/* ------------------------------------------------------
  Portfolio page
------------------------------------------------------ */

/*-- Filtering ---*/
.filter {
    margin-bottom: 30px;
    margin-top: 10px
}

.filter li {
    display: inline-block;
}

.filter li:first-child {
    margin-left: 0
}

.filter li.active a, .filter li:hover a {
    background: #25c9da;
    color: #fff;
    border-radius: 3px;
    text-decoration: none
}

.filter li a {
    text-transform: uppercase;
    color: #65686d;
    font-size: 14px;
    padding: 8px 12px;
    text-decoration: none
}

/*-- Item content ---*/
.portfolio-content, .filter {
    list-style: none
}

.portfolio-content li {
    margin-bottom: 20px
}

.project-info {
    background: #fbfbfb;
    padding: 4px 10px;
    text-align: center;
    border: solid 1px #e9e9e9
}

.portfolio-content li:hover .project-info {
    background: #25c9da;
}

.project-info h3 {
    color: #000000;
    font-size: 14px;
    font-weight: bold
}

.project-info p {
    font-style: italic
}

.portfolio-content li:hover .project-info h3, .portfolio-content li:hover .project-info p {
    color: #fff
}

a.picon-zoom, a.picon-info {
    background: rgba(37, 201, 218, 0.6);
    border-radius: 5px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a.picon-zoom i, a.picon-info i {
    background: #fff;
    padding: 6px;
    border-radius: 50%;
    color: #000;
    display: inline-block
}

a.picon-info i {
    padding: 6px 12px
}

a.picon-zoom:hover, a.picon-info:hover {
    background: #25c9da
}

a.picon-zoom {
    left: -60px;
}

a.picon-info {
    right: -60px;
}

.view:hover a.picon-zoom {
    left: 50%;
    margin-left: -50px;
}

.view:hover a.picon-info {
    right: 50%;
    margin-right: -50px;
    cursor: pointer;
}

.proj_image img {
    width: 770px;
}

.proj_view a.button {
    background: #25c9da;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #fff;
}

.proj_view a.button:hover {
    background: rgb(169, 134, 26);
}

.service-block i {
    font-size: 50px;
    color: #848484
}

.case {
    font-size: 70px;
    color: #999;
}

/*-- Items listing ---*/
.work_slide {
    position: relative;
}

#work_slide {
    list-style: none;
    max-width: 100% !Important;
}

.caroufredsel_wrapper {
    max-width: 100% !Important;
}

#work_slide li {
    float: left;
    margin-left: 0px;
    margin-right: 20px;
}

#work_slide.related-projects li {
    margin-left: 10px;
    margin-right: 10px
}

#work_slide.related-projects li:first-child {
    margin-left: 0px
}

#work_slide li img {
    display: block;
    float: left;
    height: 239px;
    width: 358px;
}

.doctor-name {
    background: #25c9da url('http://pa/argon/img/brand/arrow.png') no-repeat center 12px;
    padding: 40px 20px 10px 20px;
    color: #fff;
    text-align: center;
    text-transform: uppercase
}

a.prev:hover, a.next:hover {
    background: none !Important
}

a.prev, a.next {
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    top: -58px;
    color: rgb(184, 184, 184);
    background: #FFF;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 25px;
    line-height: 18px;
}

a.prev {
    right: 30px;
    background-position: 0 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

a.next {
    right: 0px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

a.prev.disabled, a.next.disabled {
    cursor: default;
}

a.prev span, a.next span {
    display: none;
}

.clearfix {
    float: none;
    clear: both;
}

.popular-posts article {
    margin-bottom: 20px !important
}

article .mod_con_text p {
    margin-bottom: 10px
}

.large-block-grid-3 > li {
    padding: 0 10px 10px
}

.portfolio-content.large-block-grid-3 li {
    margin-bottom: 10px
}

.portfolio-content.large-block-grid-3 .view-one img {
    width: 360px
}

/* ------------------------------------------------------
  Main Elements
------------------------------------------------------ */

/*--- Featured Blocks ---*/
.featured-block {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    background: #25c9da;
    border-bottom: 1px solid #efefef !important;
}

.featured-block > a {
    text-align: left;
    width: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}

.fblock-icon {
    font-size: 53px;
    color: #fff;
    line-height: 150px;
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0px;
    top: -20px;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
    padding-right: 0;
    display: block;
}

.fblock-content {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 50%;
    top: 50%;
}

.fblock-main {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.fblock-sub {
    text-align: center;
    font-size: 14px;
    background: #fff;
    color: #747474;
    border: solid 1px #e8e8e8;
    border-top: none;
    line-height: 48px;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}

.featured-block:hover {
    background: #fff;
}

.featured-block:hover .fblock-icon {
    font-size: 70px;
    color: #25c9da;
    -webkit-animation: moveFromLeft 400ms ease;
    -moz-animation: moveFromLeft 400ms ease;
    -ms-animation: moveFromLeft 400ms ease;
}

.featured-block:hover .fblock-main {
    color: #25c9da;
    -webkit-animation: moveFromRight 300ms ease;
    -moz-animation: moveFromRight 300ms ease;
    -ms-animation: moveFromRight 300ms ease;
}

.featured-block:hover .fblock-sub {
    border-color: #25c9da;
    background: #25c9da;
    color: #fff;
    -webkit-animation: moveFromBottom 500ms ease;
    -moz-animation: moveFromBottom 500ms ease;
    -ms-animation: moveFromBottom 500ms ease;
}

@-webkit-keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(-100%);
    }
    to {
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes moveFromLeft {
    from {
        -moz-transform: translateX(-100%);
    }
    to {
        -moz-transform: translateX(0%);
    }
}

@-ms-keyframes moveFromLeft {
    from {
        -ms-transform: translateX(-100%);
    }
    to {
        -ms-transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromRight {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0%);
    }
}

@-moz-keyframes moveFromRight {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0%);
    }
}

@-ms-keyframes moveFromRight {
    from {
        -ms-transform: translateX(100%);
    }
    to {
        -ms-transform: translateX(0%);
    }
}

@-webkit-keyframes moveFromBottom {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0%);
    }
}

@-moz-keyframes moveFromBottom {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0%);
    }
}

@-ms-keyframes moveFromBottom {
    from {
        -ms-transform: translateY(100%);
    }
    to {
        -ms-transform: translateY(0%);
    }
}

/*--- Featured Titles ---*/
.title-block {
    background: #fff;
    margin: 0px 0px 0px 0px
}

.title-block .icon-container {
    float: left;
    background: #25c9da;
    width: 63px;
    height: 55px;
    text-align: center;
    padding-right: 0px !Important
}

.title-block .icon {
    font-size: 30px;
    color: #fff;
    line-height: 55px;
    display: block;
    padding-right: 0px !Important
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #25c9da;
    float: left;
    margin: 18px 0 0 -4px
}

/*--- Social Icons ---*/
.social-icons li {
    display: inline-block;
    margin-left: 6px;
    width: 32px;
    height: 32px;
    background: #25c9da;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

.social-icons li:hover {
    background: #25c9da
}

.social-icons i {
    font-size: 20px;
    color: #f8f8f8;
    padding: 6px 6px 4px 4px
}

.social-icons li:first-child {
    margin-left: 0
}

.about-info li {
    list-style: none;
    line-height: 30px;
}

.social-icons a {
    line-height: 36px;
    display: block;
    text-align: center
}

.about-info li span, .about-info li a {
    color: #000;
    font-size: 13px;
}

.about-info li:hover a, .about-info li:hover span {
    color: #000
}

.about-info li a:hover {
    text-decoration: underline
}

.about-info i {
    font-size: 18px;
    color: #707070;
}

/*--- Appointment Block ---*/
.appointment-block {
    padding-top: 20px;
    padding-bottom: 5px;
    position: absolute;
    bottom: 0px;
    z-index: 999;
    width: 100%
}

.appointment-block input[type="submit"] {
    padding: 40px 20px;
    margin-bottom: 0
}

.appointment-block .red p, #appointment-contact-form input[type="submit"] {
    font-size: 15px;
    text-align: center
}

.appointment-block .red p {
    font-size: 19px
}

#appointment-contact-form {
    margin-bottom: 0
}

#appointment-contact-form .large-3.columns {
    /*padding-right: 0;*/
    /* Creating issue in appointment form in top banner home page*/
}

#appointment-contact-form input[type="text"], #appointment-contact-form textarea {
    box-shadow: #dadada 1px 3px 3px;
    border-radius: 4px;
    padding: 0.4em 1em;
    margin-bottom: 1.4em;
    height: 52px;
}

#appointment-contact-form textarea {
    height: 96px !important;
    font-size: 12px;
    padding: 0.9em
}

.boxed .appointment-block {
    position: relative;
    margin-bottom: 20px;
    z-index: 1
}

.divider {
    position: relative;
    height: 1px;
    padding-top: 4px;
    border-bottom: solid 1px #e6e6e6;
    margin-bottom: 20px
}

.divider span {
    display: block;
    width: 50px;
    height: 3px;
    background: #25c9da;
    margin-top: -2px
}

.red {
    background: #f35f2a;
    padding: 32px 10px 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.boxed .red {
    padding: 32px 10px;
}

.red p {
    color: #FFF;
    font-size: 14px;
    margin: auto
}

/*--- Tab and Accordion ---*/
.section-container.accordion, .section-container.auto {
    border-color: #e8e8e8
}

.section-container.accordion section, .section-container.accordion .section, .section-container.accordion.auto section, .section-container.auto.accordion .section {
    border-color: #e6e6e6
}

.section-container.accordion section p.title {
    color: #3f3f3f;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', serif;
}

.section-container.accordion section .title a {
    padding: 20px
}

.section-container.accordion section.active .title a {
    background: #25c9da;
    color: #fff
}

.section-container.accordion section i {
    margin-top: 6px;
    width: 17px;
    height: 10px;
    background-image: url('../images/toggle_nav.png');
    background-repeat: no-repeat;
    display: inline-block;
    float: right;
    background-position: -16px 0px
}

.section-container.accordion section.active i {
    background-position: 0px -10px
}

.section.active a {
    color: #fff !important
}

.content .side-nav a {
    color: #505050 !important
}

.content .side-nav li {
    margin-bottom: 10px
}

ul.accordion, ol.accordion {
    margin: 0;
    padding: 0;
}

.accordion li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.accordion li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    *zoom: 1;
}

.accordion li li {
    list-style-type: disc;
    margin-left: 1em;
}

.accordion a {
    color: inherit;
    text-decoration: inherit;
}

.accordion .loading {
    display: none;
}

.accordion .handle {
    border-bottom: solid 1px #e6e6e6;
    padding: 10px 0px;
}

.handle a {
    color: #3f3f3f;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Open Sans', serif;
    display: inline-block
}

.accordion .handle span {
    background: #25c9da;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    margin-right: 10px
}

.accordion .handle span i {
    background: url('http://pa/argon/img/brand/accordion_nav.png') 0px 0px no-repeat;
    display: inline-block;
    width: 17px;
    height: 10px;
    margin: 13px 0px 0px 2px
}

.handle a.accordion-opener {
    display: block
}

.accordion li.active .handle a.accordion-opener i {
    background-position: 0px -10px;
    margin-top: 16px
}

ol.accordion .panel, ul.accordion .panel {
    background: #fff;
    border: none;
    padding: 1.25em 0;
    font-size: 13px;
    color: #868686;
    margin-bottom: 0
}

ol.accordion .panel p, ul.accordion .panel p {
    font-size: 13px;
    color: #868686
}

/* --- Services -- */
.services {
    background: #25c9da;
    height: 150px;
    text-align: center;
    padding-top: 20px;
}

.services img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    margin-bottom: 20px;
}

.services span {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #fff;
    margin-top: 20px;
}

.service_learn_more {
    border: 1px solid rgb(236, 236, 236);
    text-align: center;
    height: 50px;
    padding-top: 18px;
}

.service_learn_more a {
    font-size: 14px;
    color: rgb(116, 116, 116);
}

.module {
    height: 55px;
    background: rgb(102, 102, 102);
    margin: 15px 0;
}

.module_title {
    margin-left: -25px;
    padding-top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
}

.module_img {
    background: #25c9da;
    width: 100%;
    height: 55px;
    margin: 0 -10px 0 -18px;
    padding: 15px;
}

.module_arrow {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid blue;
    border-left-color: #25c9da;
}

/* --- Promo block -- */
.promo {
    background: #25c9da;
    padding: 25px 21px;
    border: 1px solid #eaeaea;
    margin: 15px 0;
}

.promo p {
    font-size: 1.57em;
    color: #fff;
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0.25em
}

.promo a.button {
    background: #fff;
    font-size: 14px;
    color: #000;
    border-radius: 5px;
    text-transform: uppercase;
}

a.button.shadow-button {
    margin-bottom: 0
}

.promo a.button:hover {
    background: #fff;
}

.module_content .row {
    margin-bottom: 20px;
}

.mod_con_text h5 {
    font-weight: bold;
    font-size: 15px;
    color: #3f3f3f;
    margin-bottom: 10px;
}

.mod_con_text p {
    font-size: 13px;
    color: rgb(116, 116, 116);
    margin: 0;
}

.mod_con_text a {
    font-size: 13px;
}

.module_content .row.collapse {
    margin-bottom: 1px;
    margin-left: 1px;
}

/* --- Testimonials --- */
#testimonial_slide li {
    width: 551px;
    max-width: 100%;
    position: relative
}

.testimonial-block .caroufredsel_wrapper {
    width: 100% !important
}

.testimonial-block {
    margin-bottom: 30px
}

.testimonial-block a.prev, .testimonial-block a.next {
    top: 9px
}

.testimonial-block a.prev {
    right: 40px
}

.testimonial-block a.next {
    right: 8px
}

.testimonial-content {
    background: #f6f6f6;
    padding: 20px;
    position: relative;
}

.testimonial-content, .testimonial-content p {
    font-family: 'Open Sans', serif;
    color: #3b3b3b;
    font-size: 15px;
    line-height: 24px
}

.testimonial-content p {
    margin-bottom: 0
}

.testimonial-divider {
    position: absolute;
    display: block;
    height: 28px;
    width: 28px;
    background: url(../images/testimonial-arrow.png);
    left: 20px;
    bottom: 2px
}

.testimonial-meta {
    margin: 10px 0 0 60px;
    font-style: italic
}

.testimonial-block cite {
    font-family: 'Open Sans';
    font-size: 13px;
    color: #25c9da;
    font-weight: bold;
    font-style: normal;
}

/* --- Logo slider -- */
.partners-block {
    margin-bottom: 20px
}

#logo_slide li {
    width: 189px !Important;
    float: left;
    padding: 20px 0px;
    border-right: solid 1px #eee;
    text-align: center;
}

#logo_slide {
    border: solid 1px #eee;
    list-style: none
}

#logo_slide li:last-child {
    border: none
}

#slide_prev2, #slide_next2 {
    top: 0px !Important
}

/* ------------------------------------------------------
  Helper classes
------------------------------------------------------ */

.text-right {
    text-align: right
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.grey-bg {
    background: #ebebeb;
}

.alignleft {
    float: left;
}

img.alignleft {
    margin: 5px 20px 5px 0;
}

.alignright {
    float: right;
}

img.alignright {
    margin: 5px 0 5px 20px;
}

.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.aligncenter {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dropcap {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #25c9da;
    text-align: center;
    line-height: 64px;
    font-size: 3.5em;
    color: #fff;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px
}

figcaption {
    margin-top: 10px;
    line-height: 1.5em
}

table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {
    line-height: 1.5em;
    font-size: 1em;
    color: #707070
}

iframe {
    border: none
}

/* ------------------------------------------------------
  Miscellaneous classes
------------------------------------------------------ */
.rectangle, .rectangle span {
    display: block;
    width: 28px;
    height: 28px;
    background: url(../images/Untitled-1.png)
}

.service-block {
    margin-bottom: 20px
}

.figures {
    color: #FFF;
    background: #25c9da;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.client-statistics {
    color: #25c9da;
    font-size: 15px;
    font-style: italic;
    font-family: Georgia;
    margin-bottom: 0.5em
}

.garnik li {
    border-bottom: solid 1px #e6e6e6;
    padding-bottom: 6px;
    margin-bottom: 20px;
}

.slider-wrapper, .relative {
    position: relative
}

.main-wrapper.app-wrapper {
    position: relative;
    width: 1136px;
    margin-bottom: 20px;
    padding-top: 480px;
}
.intro-video{
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

/* ------------------------------------------------------
  Mobile Overrides
------------------------------------------------------ */

@media only screen and (max-width: 48em) {
    .appointment-block {
        position: relative
    }

    .nivo-caption p.nivotitle.v1, .nivo-caption p.nivotitle.v3 {
        font-size: 1em !important;
        margin-top: 0px !important
    }

    .nivo-caption p.nivotitle.v2 {
        font-size: 1.4em !important
    }

    .theme-default .nivo-caption {
        top: 10% !important
    }

    .red {
        margin-bottom: 10px
    }

    .featured-block {
        margin-bottom: 20px
    }

    .intro-video{
        top:-115px;
    }
    .main-wrapper.app-wrapper{
        padding-top: 150px;
    }
    button.Zebra_DatePicker_Icon_Inside{
        left: 450px;
    }
    #logo{
        display: none;
    }
    .main-navigation .large-9{
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (max-width: 480px) {

    .nivo-caption p.nivotitle {
        display: none !important
    }
}
